{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <table>
        <tr class="tr__head">
          <th>№</th>
          <th>заказ, №</th>
          <th>стоимость,$</th>
          <th>стоимость,₽</th>
          <th>срок поставки</th>
        </tr>
        {% for d in data_list %}
        <tr>
          <th class="th__main"> {{ forloop.counter }} </th>
          <th class="th__main"> {{ d.order_num }} </th>
          <th class="th__main"> {{ d.cost_dol }} </th>
          <th class="th__main"> {{ d.cost_rub }} </th>
          <th class="th__main"> {{ d.delivery_time }} </th>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr class="tr__head">
            <th>Total</th>
        </tr>
        <tr class="total">
            <th>{{ total }}</th>
        </tr>
    </table>
</body>
</html>